
<div class="bg-white col-12 shadow p-3 mb-5 rounded">
<form #userloginform="ngForm" (ngSubmit)="onSubmit(userloginform.value.userEmail,userloginform.value.userPassword)">
    <div class="container">  
      <h1> Login Form </h1> 
      <fieldset class="form-group">
     <label for="userEmail"><b>Email</b></label>   
      <input class="form-control form-control-lg" type="string" placeholder="Enter Email" name="userEmail" ngModel required>  
      <br>
    </fieldset>
      <fieldset class="form-group">
      <label for="userPassword"><b>Password</b></label>  
      <input class="form-control form-control-lg" type="string" placeholder="Enter Password" name="userPassword" ngModel required>  
      <br>
    </fieldset>
      <input class="form-control form-control-lg btn btn-primary" type="submit" Value="Login" [disabled]="userloginform.invalid">  
  
    </div> 
  </form>  
</div>